.widget__title {
  font-size: 24px;
}

.widget__body {
  background: var(--white);

  margin: 24px 0;
  padding: 24px 20px;

  border-radius: 4px;
}

.widget__body--carousel {
  padding: 24px 0 0;
}

.widget__toolbar {
  margin-top: 24px;

  display: flex;
}

.widget__toolbar-search {
  flex-grow: 1;

  margin-right: 12px;
}